body {
    background-color: lightcyan;
}

.navbar-brand {
    background-color:  lightcoral;
    padding: 10px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.panel {
    margin: 20px;
    padding-bottom: 20px;
    background-color: white;
    overflow: hidden;
}

h1 {
    padding-top: 0px;
    padding: 20px;
}

h2 {
    padding-top: 0px;
    padding: 20px;
}

h3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

.img {
    float: left;
    height: auto;
}

.table-responsive {
    overflow: scroll;
    max-height: 1000px;
    padding: 15px;
}
th {
    padding: 10px;
}

td {
    padding: 10px;
}

@media (max-width: 800px) {
  .img {
      width: 100%;
  }
  .img-fluid {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
}

.img-thumbnail {
    padding: 15px;
    max-width: 45%;
    height: auto;
}

.main-image {
    padding-bottom: 20px;
}